.gpu-card {
    /* border: dotted;
    border-color: lightgray;
    border-width: 3px;*/
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.node-info-icon {
    color: rgb(150, 150, 150);
}

.node-info-icon:hover {
    color: rgb(30, 30, 30);
}

.btn {
    border: none;
}

.arrow:hover {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
}

.elapsed-time {
    color: gray;
}