<!DOCTYPE html>
<html lang="en">


{% with title="Slurm Web" %}{% include "head.html" %}{% endwith %}

<body>
    {% with page="home" %}{% include "navigation.html" %}{% endwith %}
    <div class="container-fluid p-3">
        <div class="row">
            {% for node in nodes %}
            <div class="col-sm">
                <div class="card h-100 node-card" id="{{node.ip}}" data-hostname="{{node.hostname}}">
                    <h5 class="card-header">{{node.hostname}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{node.ip}}</h5>
                        <h6 class="card-subtitle">Gpu Jobs</h6>
                        {% for gpu in node.gpus %}
                        {% for gpu_index in range(node["gpus"][gpu]) %}
                        <div class="card mt-3 gpu-card">
                            <h6 class="card-title m-2">{{gpu_index}} - {{gpu}}</h6>
                            <ul class="list-group list-group-flush">
                                {% for job in node.allocated_jobs | selectattr("state", "equalto", "RUNNING") %}
                                {% if job.gpu_indices and gpu_index in job.gpu_indices %}
                                <li class="list-group-item">{{job.id}} - {{job.user|capitalize}} -
                                    <tt>{{job.task_name}}</tt>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="card-footer">
                                <div class="spinner-border spinner-border-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                  </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}

                        {% if node.allocated_jobs|rejectattr("gpu_indices")|list|length > 0 %}
                        <h6 class="card-subtitle mt-3">Other Jobs</h6>
                        {% endif %}
                        <ul class="list-group">
                            {% for job in node.allocated_jobs %}
                            {% if not job.gpu_indices %}
                            <li class="list-group-item">{{job.id}} - {{job.user|capitalize}}</li>
                            {% endif %}
                            {% endfor %}
                            <ul class="list-group"></ul>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if jobs|selectattr("state", "equalto", "PENDING")|list|length > 0 %}
        <div class="row">
            <h2>Task Queue ({{jobs | selectattr("state","equalto","PENDING")|list|length}})</h2>
            <ul class="list-group list-group-flush">
                {% for job in jobs | selectattr("state","equalto","PENDING") %}
                <li class="list-group-item">{{job.id}} - {{job.user|capitalize}} - <tt>{{job.task_name}}</tt>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
</body>