<!DOCTYPE html>
<html lang="en">


{% with title="Slurm Web" %}{% include "head.html" %}{% endwith %}

<body>
    {% with page="home" %}{% include "navigation.html" %}{% endwith %}
    <div class="container-fluid p-3 main sky">
        <div class="row">
            {% for node in nodes %}
            <div class="col-sm-4 mt-2">
                <div class="card h-100 node-card" id="{{node.address}}" data-hostname="{{node.hostname}}">
                    <div class="card-header">
                        <h5>{{node.hostname}}</h5>
                        <div type="button" class="btn" data-bs-toggle="popover" data-bs-title="Node info"
                            data-bs-html="true" data-bs-content="
                                <p> 
                                    <b>State</b>: {{node.state|capitalize}}
                                    </br>
                                    <b>Cores</b>: {{node.cores}} 
                                    | <b>Cpus</b>: {{node.cpus}} 
                                    | <b>Memory</b>: {{node.real_memory//1000}}G
                                    </br>
                                    <b>Architecture</b>: {{node.architecture}}
                                    | <b>OS</b>: {{node.operating_system}}
                                </p>
                            "><i class="fa fa-caret-down fa-lg node-info-icon" aria-hidden="true"></i></div>

                    </div>

                    <div class="card-body">
                        <h5 class="card-title text_shadowed">{{node.address}}</h5>
                        <!--<h6 class="card-subtitle">Gpu Jobs</h6>-->
                        {% for gpu in node.gpus %}
                        {% for gpu_index in range(node["gpus"][gpu]) %}
                        <div class="card mt-3 gpu-card">
                            <h6 class="card-title m-2">{{gpu_index}} - {{gpu}}</h6>
                            <ul class="list-group list-group-flush">
                                {% for job in node.allocated_jobs | selectattr("job_state", "equalto", "RUNNING") %}
                                {% if job.gpu_indices and gpu_index in job.gpu_indices %}
                                <li class="list-group-item">{{job.job_id}} - {{job.user_name|capitalize}} -
                                    <tt>{{job.name}}</tt>
                                    <div class="elapsed-time">
                                        {% set
                                        days, hours, minutes, seconds = job.timeused.days, job.timeused.seconds //
                                        3600,job.timeused.seconds // 60 % 60, job.timeused.seconds % 60 %}
                                        {% if days > 0 %}
                                        {{days}}d
                                        {% endif %}
                                        {% if hours > 0 %}
                                        {{hours}}h
                                        {% endif %}
                                        {% if minutes > 0 %}
                                        {{minutes}}m
                                        {% endif %}
                                        {% if seconds > 0 %}
                                        {{seconds}}s
                                        {% endif %}
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="card-footer">
                                <div class="spinner-border spinner-border-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}

                        {% if
                        node.allocated_jobs|selectattr("job_state","equalto","RUNNING")|rejectattr("gpu_indices")|list|length
                        > 0 %}
                        <!--<h6 class="card-subtitle mt-3">Other Jobs</h6>-->
                        {% endif %}
                        <ul class="list-group">
                            {% for job in node.allocated_jobs | selectattr("job_state","equalto","RUNNING") %}
                            {% if not job.gpu_indices %}
                            <li class="list-group-item mt-2 rounded">{{job.job_id}} - {{job.user_name|capitalize}}</li>
                            {% endif %}
                            {% endfor %}
                            <ul class="list-group"></ul>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if jobs|selectattr("job_state", "equalto", "PENDING")|list|length > 0 %}
        <div class="row mt-4">
            <h2 class="h_secondary text_shadowed">Task Queue ({{jobs|selectattr("job_state", "equalto",
                "PENDING")|list|length}})
                <sup data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="
                {% for item in jobs|selectattr('job_state', 'equalto', 'PENDING')|list|groupby(attribute='user_name') %}
                  {{ item.grouper }}: {{ item.list|length }} </br>
                {% endfor %}
                ">&#x1F6C8</sup>
            </h2>
            <ul class="list-group list-group-flush m-2 rounded">
                {% for job in jobs|selectattr("job_state", "equalto", "PENDING")|sort(attribute='priority',
                reverse=True) %}
                <li class="list-group-item">{{job.job_id}} - {{job.user_name|capitalize}} - <tt>{{job.name}}</tt></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <!--
        Uncomment to activate snow effect
        <script src="{{ url_for('static', filename='snow.js') }}"></script>
    -->
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
</body>